.containerNav {

    color: rgb(34, 34, 34);
    background-color: rgb(241, 55, 148);
    
}

.brand {
    	
       
}

nav {	    
	height: auto;
    
    
}

.menu {
	margin: 30px 0px 0px 0px;	
    font-size: 16pt;
    padding: 0px 0px 30px 0px;
	
}

.menu li {
    display: inline-block;
    margin: 0px 100px 0px 8px;
}


